.card {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.habilidades {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 64px 0;
}

.titulo-habilidades h2 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    letter-spacing: 1;
    color: #d9d9d9;
}

.background-preto {
    background: #0D0D0D;
}

@media (max-width: 801px) and (max-width: 1137px){
    .habilidades {
        padding: 32px 0;
    }
    .titulo-habilidades h2 {
        margin: 0 10px;
    }
    .card {
        margin: 0 10px;
    }
}

@media (min-width: 400px) and (max-width: 799px) {
    .card {
        display: flex;
        justify-content: center;
        margin: 0;
    }
}