.cardHab {
    position: relative;
    width: 180px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
    filter: drop-shadow(0 0 0.2em rgb(229, 229, 229));
}
    

.cardHab::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 150%;
    animation: animete 5s linear infinite;
}

.cardHab::after {
    content: "";
    position: absolute;
    inset: 8px;
    background: #fff;
    border-radius: 8px;
}

.cardHab img, .cardHab p {
    position: relative; /* Garanta que o conteúdo está acima do pseudo-elemento */
    z-index: 1; /* Garanta que o conteúdo está acima do pseudo-elemento */
}

.cardHab img {
    padding: 20px 0;
}

.cardHab p {
    margin: 0px 0px 20px 0;
    font-size: 1.125rem;
    font-weight: 500;
    color: #8C8C8C;
}

.laranja::before {
    background: linear-gradient(#FF651E, #FF4C1E);
}

.azul::before {
    background: linear-gradient(#0065F4, #004CE8);
}

.amarelo::before {
    background: #FFDF00;
}

.azul-claro::before {
    background: #5ADAFD;
}

.azul-linear::before {
    background: #535AFF;
}

.node::before {
    background: #3F883B;
}

.vsCode::before {
    background: #3C99D6;
}

.github::before {
    background: #000000;
}

.photoshop::before {
    background: #001834;
}

.adobexd::before {
    background: #470137;
}

.illustrator::before {
    background: #390000;
}

.figma::before {
    background: #FF7361;
}

 @keyframes animete {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


