*,*::after, *::before{
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    font-size: 14px;
}

body, h1 , h2 , h3 , p, figure {
    margin: 0;
    padding: 0;
    
}

body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

h1, nav {
    text-transform: uppercase;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

h1 a {
    color: white;
    background-color: black;
    padding: 0.3rem 1rem;
    border-radius: 5px;
}

header {
    background-color: white;
    position: sticky;
    top: 0;

}

header .limitador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.limitador {
    max-width: 1100px;
    width: 95vw;
    margin: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; 
    
    
}


nav {
    width: 65%;
    
}

nav h2 {
    text-align: right;
}


.icone {
    font-size: 1.2rem;
    padding: 1rem;
    height: 50px;
    display: inline-block;
}

h2 a{
    color: black;
}

.menu a { /* ou: nav li a */
    color: black;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}


.menu a:hover, .menu a:active{
    background-color: gainsboro;
}

/* Está classe será manipulada via JS */
.menu-aberto {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
}

/* Section com a classe destaque */

.destaque {
    background-image: url(../imagens/fundo-destaque.jpg);
    height: 90vh;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destaque h2 {
    font-size: clamp(2rem,8vw,7rem); /* Clamp (min, ideal, max)*/
    animation-name: fadeIn;
    animation-duration: 1.5;
}

.destaque p {
    font-size: clamp(1.6rem,2vw,4rem); /* Clamp (min, ideal, max) */
    animation: fadeIn 1.5s 1s backwards; 
}




@keyframes fadeIn  {
        from  {opacity: 0;}
        to    {opacity: 1;}
}

.front-end, .localizacao {
    text-align: center;
}


section h2 {
    padding: 1rem;
}

section p {
    padding: 0.5rem 0;

}

.figure {
    text-align: center;
    margin: 1rem 0;
} 

.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding-bottom: 1rem;
}

.historia h2 {
    color: white;
    text-shadow: black 1px 1px 2px;
}


iframe {
    width: 100%;
    border: none;
}

.historia iframe {
    max-width: 800px;
}

footer {
    background-color: black;
    color: white;
    height: 14vh;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* Formatando as páginas internas */

.conteudo {
  background-color: whitesmoke;
  padding: 0.7rem;
  border-radius: 7px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

table{
    width: 80%;
    margin: auto;
    width: 700px;
}

th{
    background-color: black;
    color: white;
}


td{
    background-color: white;
}

th,td{
    width: 33%;
    padding: 0.5rem;
}


td:first-child {
    text-transform: uppercase;
    
}

td:nth-child(2){
  text-align: center;  
}

 td:last-child{
    text-align: center;
    color: blue;
} 


caption{
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}










/* Media queries*/

/* código que será interpretado apenas em telas de 600px */
@media screen and (min-width: 600px) {
       .icone {
         display: none;
       }
       
       .menu {
           display: flex;
           justify-content: space-between;
       }

       .menu a {
           padding: 0 1rem;
       }
}


/* código que será interpretado apenas em telas de 800px */
@media screen and (min-width:800px) {
    html {
        font-size: 18px;
    }

    header .limitador{
        height: 15vh;
    }

    .destaque{
        height: 85vh;
    }

}



