.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #262626;
    border-top: 2px solid #8B65BF;
    height: 70px;
}

.footer p {
    font-size: 1.125rem;
    color: #8C8C8C;
    margin: 0;
}

.footer p:hover {
    color: #8B65BF;
    cursor: pointer;
}

@media (min-width: 400px) and (max-width:799px) {
    .footer p {
        max-width: 390px;
        text-align: center;
        margin: 0 10px;
    }
}