.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #262626;
    height: 100px;
}

.footer p {
    font-size: 1.125rem;
    color: #8C8C8C;
    margin: 0;
}

.footer p:hover {
    color: #F2F2F2;
    cursor: pointer;
}

@media (max-width: 400px) {
    .footer p {
        text-align: center;
    }
}