.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #010D01;
    height: 100px;
}

.footer p {
    font-size: 1.125rem;
    color: #fff;
    margin: 0;
}

.footer p:hover {
    color: #F6AC21;
    cursor: pointer;
}

.redes-medium {
    display: flex;
    align-items: center;
    gap: 16px;
}

 @media (max-width: 800px) {
    .footer {
        display: flex;
        justify-content: space-around;
    }

}

@media (min-width: 400px){
    .footer {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        padding: 16px 0;
    }
    .footer p {
        text-align: center;
        margin-bottom: 8px;
        font-size: 0.875rem;
    }
} 