.cardHab {
    position: relative;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #262626;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}
    

.cardHab::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 150%;
    animation: animete 5s linear infinite;
}

.cardHab::after {
    content: "";
    position: absolute;
    inset: 8px;
    background: #262626;
    border-radius: 8px;
}

.cardHab img, .cardHab p {
    position: relative; /* Garanta que o conteúdo está acima do pseudo-elemento */
    z-index: 1; /* Garanta que o conteúdo está acima do pseudo-elemento */
}

.cardHab img {
    padding: 20px 0;
}

.cardHab p {
    margin: 0px 0px 20px 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: #F0F0F0;
}

.laranja::before {
    background: linear-gradient(#FF651E, #FF4C1E);
}

.azul::before {
    background: linear-gradient(#0065F4, #004CE8);
}

.amarelo::before {
    background: #FFDF00;
}

.azul-claro::before {
    background: #5ADAFD;
}

.azul-linear::before {
    background: #535AFF;
}

.node::before {
    background: #3F883B;
}

.vsCode::before {
    background: #3C99D6;
}

.github::before {
    background: #fff;
}

.photoshop::before {
    background: #00A9FF;
}

.adobexd::before {
    background: #FF61F6;
}

.illustrator::before {
    background: #FF9A00;
}

.figma::before {
    background: #FF7361;
}

 @keyframes animete {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


