.botao {
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: max-content;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #F1B441;
  background: #010D01;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.6s all;
  text-transform: uppercase;
}

.botao.download::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 19px;
  margin-left: 12px;
  background: url("../../img/download.svg");
  transition: transform 0.2s;
}

.botao.download:hover::after {
  transform: translateX(4px);
}


/* .botao:hover {
  background: #8B65BF;
} */

.botao-secundario {
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: max-content;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #2F2D19;
  border: 2px solid #010D01;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.6s all;
  text-transform: uppercase;
}


.botao-secundario.seta-black::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../icones/seta-black.svg");
  transition: transform 0.2s;
}

.botao-secundario.seta-black:hover::after {
  transform: translateX(4px);
}

.botao-secundario:hover {
  color: #0C0D01;
}


/* Botao secundario contato */

.botao-secundario-dois {
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: max-content;
  padding: 12px 8px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #F1B441;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.6s all;
  text-transform: uppercase;
  margin: 0 auto;
}

.botao-secundario-dois.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../icones/seta-amarela.svg");
  transition: transform 0.2s;
}

.botao-secundario-dois.seta:hover::after {
  transform: translateX(4px);
}

.botao-secundario-dois:hover {
  border: solid 2px #F6AC21;
  color: #F6AC21;
}

.sec{
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: max-content;
  padding: 8px 12px;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #F1B441;
  border: 2px solid #0C0D01;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.6s all;
  text-transform: uppercase;
}

.sec.seta {
  display: flex;
  align-items: center;
}

.sec.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../icones/seta-white.svg");
  transition: transform 0.2s;
}

.sec.seta:hover::after {
  transform: translateX(4px);
}

.sec:hover {
  background: #F6AC21;
}