.habilidades {
    max-width: 1200px;
    margin: 0 auto;
    padding: 128px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.titulo-habilidades h2 {
    font-size: 2.5rem;
    color: #262626;
    text-align: center;
}

@media (max-width: 800px) {
    .habilidades {
        padding: 64px 0;
        justify-content: center;
    }
}

@media (min-width: 400px) and (max-width: 799px) {
    .habilidades {
        padding: 32px 0;
    }
}